body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
}

ul,
ol {
  line-height: 1.4;
}

a:link,
a:visited {
  color: #080707;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: orangered;
}
